<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/descrip.css" />
</head>

<body>
    <nav class="nav">
        <img src="/imagenes/img_uno/header_logo.png" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#quienes">Quiénes somos</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="/tienda">Tienda</a></li>
            <li><a class="nav__rosa" href="#servicios">Donar</a></li>
        </ul>
    </nav>
    <section class="necesario"></section>
    <main>
        <section class="descrip">
            <section class="descrip__foto">
                {{#each productos}}
                <img class="descrip__foto__img" src="{{img}}" alt="" height="400px" width="400px">
                <section class="descrip__foto__vistas">
                    <img class="descrip__foto__vista1" src="{{vista1}}" alt="" height="100px" width="100px">
                    <img class="descrip__foto__vista2" src="{{vista2}}" alt="" height="100px" width="100px">
                </section>
                {{/each}}
            </section>
            <section class="descrip__des">
                {{#each productos}}
                <h1 class="descrip__des__tit">{{titulo}}</h1>
                <p class="descrip__des__paf">Precio: ${{precio}}</p>
                <p class="descrip__des__paf">Talla: {{talla}}</p>
                <div class="descrip__des__color">
                    <p class="descrip__des__color__txt">Color:</p>
                    <p class="descrip__des__color__cubo" data-color="{{color}}"></p>
                </div>
                <p class="descrip__des__def">{{descripcion}}</p>
                <section class="descrip__des__botones">
                    <button data-titulo='{{titulo}}' class="descrip__des__botones__b1">AÑADIR</button>
                    <button data-titulo='{{titulo}}' class="descrip__des__botones__b2">COMPRAR</button>
                </section>
                {{/each}}
            </section>
        </section>    
    <section>
        <h2>Similares</h2>
        <section>
            <img src="" alt="">
        </section>
    </section>
    <footer>
            <div>
                <img src="./images/footer_img.png" alt="" height="100px">
            </div>
            <div>
                <p class="parrafo__uno">
                    <span>CONTACTO</span><br>
                    FUNDACIÓN HOPE. <br>
                    CRA 83A # 48 - 45 <br>
                    RESCATE@HOPE.COM
                </p>
            </div>
            <div>
                <ul class="parrafo__uno">
                    <a href="#"><span>HOME</span></a>
                    <a href="">QUIÉNES SOMOS</a>
                    <a href="">SERVICIOS</a>
                    <a href="">DONAR</a>
                </ul>
            </div>
        </footer>
    </main>
    <script src="/scripts/descrip.js"></script>
</body>
</html>